<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="ip_address" default="127.0.0.1"/>
  <arg name="port" default="61111"/>
  <arg name="altitude_estimate" default="false"/>

  <node pkg="rtklib_bridge" name="rtklib_bridge" type="rtklib_bridge" output="screen">
    <param name="ip_address" value="$(arg ip_address)"/>
    <param name="port" value="$(arg port)"/>
    <param name="altitude_estimate" value="$(arg altitude_estimate)"/>
  </node>
    
</launch>
